
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.col-sm-6, .col-sm-12 {
    padding-right: 2px;
    padding-left: 2px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.servidor-container {
    width: 45%;
    padding: 10px;
    margin: 20px;
    border-left: #127EDE 5px solid;
}

a {
    text-decoration: none !important;
}

@media (max-width: 650px) {
    .float-right {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .servidor-container {
        width: 100%;
    }
}

/*card*/
.board {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px; /* Altura fixa do board */
}

.list {
    flex: 1;
    border-radius: 10px;
    max-height: 300px; /* Altura máxima para o list com scroll */
    overflow-x: hidden;
    overflow-y: auto;
}

.list-title {
    font-size: 18px;
    margin-bottom: 10px;
}

/*titulos*/
.list-text-backlog {
    background-color: #0065FC;
    text-align: center;
    color: white !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 100%;
}

.list-text-doing {
    background-color: #40C7A4;
    text-align: center;
    color: white !important;
    flex: 1;
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list-text-code-review {
    background-color: #47FF63;
    text-align: center;
    color: white !important;
    flex: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 100%;
}

/*fim titulos*/

.card-item {
    background-color: whitesmoke;
    margin: 0 0 10px 0;
    border-radius: 5px;
    cursor: move;
    padding-left: 5px;
    padding-top: 5px;
    box-shadow: gray;
    /*padding-right: 10px;*/

}

.card-item.dragging {
    opacity: 0.5;
}

.card-item.drag-over {
    border: 2px dashed #000000;
}

/*hover effect titulos*/
li {
    margin-bottom: 10px;
}


/*badge*/
.badge-xs {
    font-size: 11px;
    padding: 3px 8px;
    margin-left: 75%;
    margin-bottom: 5px;
}

/* Tag */
.badge {
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

/* Layout */
.badge-alta {
    background-color: #f44336;
    color: #fff;
}

.badge-media {
    background-color: #ff9800;
    color: #fff;
}

.badge-baixa {
    background-color: #4caf50;
    color: #fff;
}

h2 {
    margin-bottom: 40px;
    color: #261c6a;
    font-weight: 700;
}
